@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Outfit:wght@400;700&family=PT+Sans&family=Poppins&family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 3rem 5rem;
    margin: 0 20rem;
}

.son{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    color: #fff;
    background: hsl(235, 46%, 20%);
}

.img-one{
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 35px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: hsl(15, 100%, 70%);
    z-index: -1;
}

.work-pic{
    height: 50px;
    margin-left: 8.5rem;
}

.text{
    padding: 0 20px;
}

.text h1{
    font-size: 18px;
    position: relative;
    bottom: 2.2rem;
}

.text span{
    font-size: 45px;
    font-weight: 300;
    position: relative;
    bottom: 1rem;
}

.text legend{
    font-size: 15px;
    color: #c0bdbd;
}
